@CHARSET "UTF-8";

#topo {
	background: #000 url("ImagemParaTitulo.jpg") center no-repeat;
	background-width: 980px;
	position: relative;
	width: 980px;
	height: 153px;
	text-aling: center;
}

#titulo {
	width: 980px;
}

#navegacao {
	position: absolute;
	top: 153px;
	margin: 0;
	padding: 0;
	background: #8B0000;
	width: 980px;
	height: 35px;
	border-width: 2px;
	border-color: #FFD39B;
	border-top-style: solid;
	border-bottom-style: solid; 
}

#navegacao li {
	display: inline;
	margin-left: 30px;
	margin-top: 10px;
	list-style-type: none;
}

#navegacao a {
	font-family: "Lily Script One";
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	padding: 0px 20px 14px 15px;
}

#navegacao li a:hover {
	background: #8B1A1A;
	fontzcolor: #000;font-weight: bold;
}