@CHARSET "ISO-8859-1";

#principal{
	background: -webkit-gradient(linear, left top, left bottom, from(#33FF33), to(#990000)) repeat-X;
	background: -moz-linear-gradient(top, #33FF33, #990000) repeat-X;
	float: left;
	width: auto;
	height: auto;
	margin-left: 12.5%;
	margin-top: 10%;
}

#principal h2{
	text-align: center;
}

#principal p{
	margin-left: 2%;
}

#auxiliar{
	background: -webkit-gradient(linear, left top, right top, from(#E6E8FA), to(#666666)) repeat-X;
	background: -moz-linear-gradient(left, #E6E8FA, #666666) repeat-X;
	float: right;
	width: auto;
	height: auto;
	margin-top: 10%;
}

#auxiliar h1{
	font-size: 130%;
	text-align: center;
	margin-left: 2%;
}

#auxiliar p{
	margin-left: 2%;
}