@CHARSET "ISO-8859-1";

#primeiro, #segundo{
	background-color:#E6E8FA;
	width:35%;
}

#primeiro {
	float: left;
	margin-left: 12%;
}

#segundo {
	float: right;
	margin-right: 12%;	
}

#primeiro h1, #segundo h1{
	font-size: 120%;
	margin-left: 2%;
}

#primeiro p, #segundo p{
	margin-left: 2%;
}

#primeiro a, #segundo a{
	margin-left: 2%;
	text-decoration: none;
	color: #000;
}

#primeiro h2, #segundo h2{
	margin-left: 2%;
	font-size: 120%;
}
#primeiro a:hover{
	background-color: #333333;
	color: #f8f8ff;
	-moz-box-shadow: 0 3px 10px 0 #333333;
	-webkit-box-shadow: 0 3px 10px 0 #333333;
	text-shadow: 0px 0px 5px #fff;
}

#segundo a:hover{
	background-color: #333333;
	color: #f8f8ff;
	-moz-box-shadow: 0 3px 10px 0 #333333;
	-webkit-box-shadow: 0 3px 10px 0 #333333;
	text-shadow: 0px 0px 5px #fff;
}

#grafico{
	background-image: url("comparacaoDeputado.png");
	height: 300px;
	background-repeat: no-repeat;
	margin-left: 28%;
	width: auto;
	margin-top: 7%;
}