@CHARSET "ISO-8859-1";

#dados{
	background-color:#E6E8FA;
	float: left;
	width:40%;
	margin-left: 150px;
	margin-top: 100px;
	margin-right: 30px;
}

#dados h1{
	font-size: 120%;
	margin-left: 2%;
}

#dados p{
	margin-left: 2%;
}

#dados h2{
	margin-left: 2%;
	font-size: 120%;
}