@CHARSET "ISO-8859-1";

#rodape{
	background-color:#333333;
	margin-top: 600px;
	height: 30px;
	clear: both;
}

#rodape p{
	margin-left: 1260px;
}

#rodape a{
	color: #ffe4e1;
	text-decoration: none;
}

#rodape a: hover{
	font-style: italic;
	font-weight: bold;
}
