@CHARSET "ISO-8859-1";

#somos{
	background-color:#E6E8FA;
	float: left;
	width:100%;
	margin-left: 150px;
	margin-top: 100px;
	margin-right: 5px;
}

#somos h1{
	font-size: 50px;
	margin-left: 20px;
	font-family: "Century Gothic";
	color: #000;
}

#somos p{
	margin-left: 10px;
}