@CHARSET "ISO-8859-1";

#principal{
	float: left;
	width:650px;
	margin-left: 150px;
	margin-top: 50px;
	margin-right: 600px;

}

#principal h1{
	font-size: 50px;
	font-family: "Century Gothic";
}

#principal p{
	font-size: 20px;
}