@CHARSET "ISO-8859-1";

#topo {
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(header.jpg);
	background-color: #333333;
	height: 135px;
}

#topo hr {
	border: none;
	background-color: #B4CBDF;
	color: #B4CBDF;
	height: .1%;
	margin-top: 4%;
	margin-left: 12%;
	margin-right: 53%;
}

.menu {
	position: absolute;
	margin: 0;
	padding: 0;
	margin-top: 2.4%;
	margin-left: 11.42%;
	list-style: none;
	float: left;
}

.menu li {
	display: inline;
	list-style-type: none;
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}

.menu a {
	text-decoration: none;
	padding: 0px 20px 14px 15px;
	color: #000;
	font-size: 105%;
	display: block;
}

.menu li a {
	margin-bottom: 0.8%;
	margin-top: 2%;
	padding-bottom: 0;
}

.menu li a:hover {
	background: #333;
	color: #fff;
	-moz-box-shadow: 0 3px 10px 0 #333333;
	-webkit-box-shadow: 0 3px 10px 0 #333333;
	text-shadow: 0px 0px 5px #fff;
}

.menu li  ul {
	position: absolute;
	top: 105%;
	left: 0;
	background-color: #f8f8ff;
	display: none;
	margin: 0;
	padding: 0;
}

.menu li:hover ul,.menu li.over ul {
	display: block;
	margin: 0;
	padding: 0;
}