@CHARSET "ISO-8859-1";

#tudo h1{
	background-color:#E6E8FA;
	margin-left: 150px;
	margin-top: 80px;
	width: 600px;
}

#arrumar a{
	margin-left: 7%;
	text-decoration: none;
	color: #000;
}

#tudo h2{
	margin-left: 150px;	
	background-color:#E6E8FA;
	width: 250px;
}