@CHARSET "UTF-8";

#auxiliar {
	width: 350px;
	float: right;
	background: #000;
}

#imagem {
	width: 330px;
	margin-top: 150px;
	margin-left: 20px;
	border-width: 2px;
	border-color: #CFCFCF;
	border-style: solid;
}