@CHARSET "ISO-8859-1";

#melhores {
	background: -webkit-gradient(linear, left top, left bottom, from(#00CD66), to(#f8f8ff)) repeat-X;
	background: -moz-linear-gradient(top, #00CD66, #f8f8ff) repeat-X;
	float: left;
	width: auto;
	height: auto;
	margin-left: 12.5%;
}

#piores {
	background: -webkit-gradient(linear, left top, left bottom, from(#8E2323), to(#f8f8ff)) repeat-X;
	background: -moz-linear-gradient(top, #8E2323, #f8f8ff) repeat-X;
	float: right;
	width: auto;
	height: auto;
	margin-right: 15%;
}

 #melhores, #piores {
 	text-align: center;
 }

#titulo {
	margin-left: 12%;
	margin-top: 10%;
}

#titulo h1{
	background-color: #E6E8FA;
	width: 30%;
}

#auxiliar {
	background: -webkit-gradient(linear, left top, right top, from(#E6E8FA), to(#666666)) repeat-X;
	background: -moz-linear-gradient(left, #E6E8FA, #666666) repeat-X;
	clear: both;
	text-align: center;
	margin-top: 23%;
	margin-left: 34%;
	width: 30%;
	height: auto;
}

