@CHARSET "ISO-8859-1";

#principal{
	float: left;
	width:50%;
	margin-left: 5%;
	margin-top: 4.7%;

}

#principal h1{
	font-size: 350%;
	font-family: "Century Gothic";
}

#principal p{
	font-size: 150%;
}

#arrumar {
	margin-left: 7.5%;
}