@CHARSET "ISO-8859-1";

#dados{
	background-color:#E6E8FA;
	float: left;
	width:40%;
	margin-left: 12%;
	margin-top: 9%;
	margin-right: 30px;
}

#novoDeputado {
	float: left;
	margin-top: 9%;
}

#dados h1{
	font-size: 120%;
	margin-left: 2%;
}


#dados a, p{
	margin-left: 2%;
	text-decoration: none;
	color: #000;
}

#dados h2{
	margin-left: 2%;
	font-size: 120%;
}