@CHARSET "ISO-8859-1";

#paginas {
	bottom: 0;
	clear: both;
	background-color:#E6E8FA;
	float: right;
	margin-right: 4px;
}
#paginas a{
	text-decoration:none;
	color: #000;
}

#principal h2{
	background-color:#E6E8FA;
	margin-left: 20px;
	font-family: "Century Gothic";
	color: #000;
	
}

#principal a { 
	text-decoration:none;
	color: #000;
	margin-left: 20px;
}
