@CHARSET "ISO-8859-1";

#tudo h1{
	background-color:#E6E8FA;
	margin-left: 150px;
	margin-top: 80px;
	width: 600px;
}

#tudo h2{
	font-size: 20px;
}
#arrumar a{
	margin-left: 7%;
	text-decoration: none;
	color: #000;
}

#tudo h2{
	margin-left: 150px;	
	background-color:#E6E8FA;
	width: 250px;
}

#arrumar a:hover {
	background-color: #333333;
	color: #f8f8ff;
	-moz-box-shadow: 0 3px 10px 0 #333333;
	-webkit-box-shadow: 0 3px 10px 0 #333333;
	text-shadow: 0px 0px 5px #fff;
}
#paginas {
	bottom: 0;
	clear: both;
	background-color:#E6E8FA;
	float: left;
	width: 40%;
	margin-left: 12%;
}
#paginas a{
	text-decoration:none;
	color: #000;
}
#paginas a:hover{
	background-color: #333333;
	color: #f8f8ff;
	-moz-box-shadow: 0 3px 10px 0 #333333;
	-webkit-box-shadow: 0 3px 10px 0 #333333;
	text-shadow: 0px 0px 5px #fff;
}