<?xml version="1.0" encoding="ISO-8859-1" ?>  
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee" version="2.5">
  <servlet>
    <servlet-name>Parlamentar Recebido</servlet-name>
    <servlet-class>br.com.MDSGPP.ChamadaParlamentar.servlets.ParlamentarRecebido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Parlamentar Recebido</servlet-name>
    <url-pattern>/parlamentarRecebido</url-pattern>
  </servlet-mapping>
</web-app>